@import 'mixins';

.Game {
  margin: 20px;
  text-align: center;

  .Timer {
    height: 50px;

  }
  .Battle {
    display: flex;
    height: 300px;
    margin: 20px;
    justify-content: space-between;
    @include border;
    .Divider {
      margin: auto;
    }
  }
  .Controls {
    display: flex;
    height: 100px;
    margin: 20px;
    padding: 10px;
    @include border;
    .Control {
      display: flex;
      flex-direction: column;
      flex: 0 0 80px;
      margin: 10px;
      @include border;
      span {margin: auto}
    }
    .selected {
      background: lightgreen
    }
  }
}
